<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erik Rehulka MAD - main page</title>
</head>
<body>
  <!--
    Functionalities:
    - Select league, club, and then show all stats - last games, goals last month, expected goals, expected / goal ratio, and everything we can find
    - Everything also average

    - If only league is selected, it will show some stats for all teams, like which teams scored the most goals last month (kolacovy graf) etc.

    - Then stats page, which will show what teams have the best goals / expected goals ratio
    - Also, on this page maybe which teams score the most goals per game
    - Which teams get the most yellow cards per game

    - However, the main output should be something with the goals / expected goals ratio.
    - The method used should be also not only average, but some other metrics

    - Also, how many matches we have parsed etc.
  -->
  {% for league in leagues %}
    <a href="{{ url_for("league", league_id=league[0]) }}">{{ league[1] }} - {{ league[2] }}</a><br>
  {% endfor %}
</body>
</html>