<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erik Rehulka MAD - main page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the chart, passes in the data and
    // draws it.
    function drawChart() {
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Effectivity');

      // Sample data
      var avgEffectivityPerDay = {{ avgEffectivityPerDay | tojson }};      
      // Fill the data table with values from the dictionary
      for (let date in avgEffectivityPerDay) {
        data.addRow([date, avgEffectivityPerDay[date]]);
      }

      // Set chart options
      var options = {
        title: 'Average Effectivity Per Day',
        curveType: 'function',
        legend: { position: 'bottom' },
        hAxis: { title: 'Date' },
        vAxis: { title: 'Effectivity' }
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('goal_effectivity_graph'));
      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <!--
    Functionalities:
    - If only league is selected, it will show some stats for all teams, like which teams scored the most goals last month (kolacovy graf) etc.

    - Then stats page, which will show what teams have the best goals / expected goals ratio
    - Also, on this page maybe which teams score the most goals per game
    - Which teams get the most yellow cards per game

    - However, the main output should be something with the goals / expected goals ratio.
    - The method used should be also not only average, but some other metrics, for example standart deviation of the effectivity, so that how consistently effective they are
  -->
  <div class="container">
    <div class="row pt-5">
      <div class="col">
        <p>The primary focus of our statistics is to measure "effectivity," which is calculated as the ratio of goals scored to the team's expected goals in a game. If a team scores more goals than expected, their effectivity exceeds 1; if they score fewer, their effectivity falls below 1. An effectivity of 1 indicates the team scored exactly as expected. If no goals are scored, the effectivity is 0.</p>
        <p>So far we have parsed <b>{{ parsedMatches }}</b> matches</p>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        <h2>Select a league</h2>
      </div>
      <div class="col-xl-12">
        <ul class="list-group">
          {% for league in leagues %}
            <li class="list-group-item"><a href="{{ url_for("league", league_id=league[0]) }}">{{ league[1] }} - {{ league[2] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  
    <div class="row pt-5">
      <div class="col">
        <h2>Data</h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-body">
            <span>Average effectivity = <b>{{ avgEffectivity }}</b></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-body">
            <div id="goal_effectivity_graph" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>